body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(31, 4, 43,1) 0%, rgba(145, 18, 201,1) 100%);
}

.header {
    background-color: rgb(66, 8, 92);
    padding: 15px 24%;
}

.navbar {
    background-color: rgb(92, 11, 128);
    color: 227, 227, 227;
    font-size: 20px;
}

.main-content {
    background: rgb(255,255,255,0.75);
    border-radius: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 20px;
}

h1 {
    font-size: 30px;
    color: #0b1b4e;
}

.p-1 {
    color: #2D2A32;
    margin-top: 30px;
}

#carousel {
    max-width: 50%;
    margin: 30px auto;
}

.advert-img {
    max-height: 350px;
    margin: 10px 20%;
    padding: auto;
    transition: 1s;
}

.advert-img:hover {
    max-height: 425px;
    transition: 1s;
}

h2 {
    font-size: 22px;
    color: #0b1b4e;
    text-decoration: underline;
}

li::marker {
    color: #0b1b4e;
}

h3 {
    font-size: 25px;
    color: #0b1b4e;
}

h4 {
    color: rgb(227, 227, 227);
    font-size: 17px;
    text-align: center;
}

.logoSize {
    width: 20%;
    display: inline;
}

footer {
    background-color: black;
}

.text-muted {
    text-decoration: none;
}

@media (min-width: 992px) {
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width:950px) {
    .header-img {
        max-width: 90%;
    }
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu-1, .dropdown-submenu-2, .dropdown-submenu-3, .dropdown-submenu-4 {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu > li:hover > .dropdown-submenu-1 {
    display: block;
    left: 0;
    right: auto;
    margin-left: -265px;
    text-align: right;
}

.dropdown-menu > li:hover > .dropdown-submenu-2 {
    display: block;
    left: 0;
    right: auto;
    margin-left: -300px;
    text-align: right;
}

.dropdown-menu > li:hover > .dropdown-submenu-3 {
    display: block;
    left: 0;
    right: auto;
    margin-left: -290px;
    text-align: right;
}

.dropdown-menu > li:hover > .dropdown-submenu-4 {
    display: block;
    left: 0;
    right: auto;
    margin-left: -235px;
    text-align: right;
}

.link {
    color: blueviolet;
}

.link:hover {
    color: rgb(98, 32, 159);
}

.card {
    max-width: 400px;
    padding: 10px;
    margin: 10px;
}

.smallLi {
    font-size: 12px;
}

.nav-link {
    color: rgb(98, 32, 159);
}

.nav-link:hover {
    color: #0b1b4e;
}

h4 {
    color: #0b1b4e;
    text-align: start;
    text-decoration: underline;
}

.nav-tabs {
    margin-top: 20px;
}

.bigImg {
    width: 300px;
}

th{
    color: #0b1b4e;
}

.ciArch {
    max-height: 330px;
}

.archImg {
    height: 160px;
}